<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461978000093-6a8tl9i37djff0d9gqm3m4ha4mj9mcrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461978000093-6a8tl9i37djff0d9gqm3m4ha4mj9mcrg</string>
	<key>API_KEY</key>
	<string>AIzaSyD6CYLRcczb2Q95RJ6YKLD4nQNvB9IzeIE</string>
	<key>GCM_SENDER_ID</key>
	<string>461978000093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eishunudemiy.Swift5FirebaseAnonymousLogin-1</string>
	<key>PROJECT_ID</key>
	<string>swift5firebaseanonymousl-e405b</string>
	<key>STORAGE_BUCKET</key>
	<string>swift5firebaseanonymousl-e405b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461978000093:ios:11e3d9ceb737acebc49934</string>
	<key>DATABASE_URL</key>
	<string>https://swift5firebaseanonymousl-e405b.firebaseio.com</string>
</dict>
</plist>